/* Ana Sayfa */
main {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes glow {
  from {
    text-shadow: var(--headerOutline1);
  }
  to {
    text-shadow: var(--headerOutline2);
  }
}

#baslik {
  font-size: 2.5rem;
  color: #000;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  text-align: center;
  background: var(--headerGradient);
  width: 40%;
  padding: 15px;
  border-radius: 100px;
  margin-top: 20px;
}

#profiller {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-top: 40px;
}

#lider {
  flex: 0 0 220px;
  background: var(--profileGradient);
  width: 35%;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  padding: 25px;
}

#lider img {
  width: 40%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 35px #000000;
  border: 4px solid #fff;
  transition: box-shadow 0.25s ease-in-out;
}

#lider-bilgiler {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 15px;
}
#lider-bilgiler h1 {
  font-size: 2rem;
  text-shadow: var(--textShadow);
  letter-spacing: 10px;
}
#lider-kodadi {
  color: #6b2b66;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 5px;
}
#lider p:not(#lider-kodadi) {
  font-size: 1.2rem
}

#uye {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.profil {
  background: var(--profileGradient2);
  border-radius: 15px;
  padding: 15px;
  transition: 0.2s transform ease-in-out;
  text-align: center;
  width: 15%;
  box-shadow: 0 0 5px #fff;
}

.profil:hover {
  transform: translateY(-20px);
  box-shadow: 0 0 18px #fff;
  transition: 0.2s transform ease-in-out;
}

.profil img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.profil-bilgiler {
  font-size: 1.1rem;
  margin-bottom: 8px;
}
.profil h2 {
  text-shadow: var(--textShadow);
  margin-bottom: 5px;
}
.kod-adi {
  color: #6b2b66;
  font-size: 0.95rem;
  margin-bottom: 8px;
}

.rol {
  font-size: 0.9rem;
  line-height: 1.4;
}
