@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

:root {
  --headerOutline1:
    0 0 10px #fff, 0 0 15px #fff, 0 0 20px #e101ff, 0 0 25px #e101ff,
    0 0 30px #e101ff, 0 0 35px #e101ff, 0 0 40px #e101ff;

  --headerOutline2:
    0 0 10px #800241, 0 0 15px #e101ff, 0 0 20px #e101ff, 0 0 25px #e101ff,
    0 0 30px #e101ff, 0 0 35px #e101ff, 0 0 40px #e101ff;

  --headerGradient: linear-gradient(to top, #cf91915a, #f78ac94a);
  --profileGradient: linear-gradient(to right bottom, #eeaaec, #872382);
  --profileGradient2: linear-gradient(to top left, #eeaaec, #872382);
  --textShadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/arkaplan.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
